<table class="mat-table" style="width:100%">
    <tr>
        <th>CO</th>
        <th>NO2</th>
        <th>O3</th>
        <th>SO2</th>
        <th>PM2.5</th>
        <th>PM10</th>
    </tr>
    <tr class="mat-row">
        <td class="mat-cell">{{weather?.current!.air_quality!.co}}</td>
        <td class="mat-cell">{{weather?.current!.air_quality!.no2}}</td>
        <td class="mat-cell">{{weather?.current!.air_quality!.o3}}</td>
        <td class="mat-cell">{{weather?.current!.air_quality!.so2}}</td>
        <td class="mat-cell">{{weather?.current!.air_quality!.pm2_5}}</td>
        <td class="mat-cell">{{weather?.current!.air_quality!.pm10}}</td>
    </tr>
</table>

